.App {
  text-align: center;
  background-color: honeydew;
}

.navBar {
  margin: 0;
  background-color: seagreen;
  color: white;
}

.inputBar {
  height: 20px;
  width: 15em;
}

.submitButton {
  height: 26px;
}






.footerBar {
  margin: 0;
  background-color: seagreen;
  color: white;
}

#footLink {
  text-decoration: none;
  color: white;
}