/* * {
  padding: 2;
  margin: 4;
  box-sizing: border-box;
  outline: 2px solid blue;
} */

.App {
  text-align: center;
  background-color: honeydew;
}

.navBar a{
  display: grid;
  grid-column: 1 / 3;
  grid-row: 1 / 5;
  background-color: seagreen;
  text-decoration: none;
}

.title {
  margin: 0;
  color: white;
  font-size: 40px;
}

.favLink {
  color: white;
}

.inputBar {
  height: 20px;
  width: 15em;
}

.submitButton {
  height: 26px;
}

.detailContainer {
  /* box-sizing: border-box;
  outline: 2px solid red; */
}

.contactForm {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 6fr;
  row-gap: 4px;
}

input#firstname, #lastname, #email {
  padding: 5px 0 5px 0;
  margin: 0 5px 0 5px;
}

textarea#message {
  padding: 5px 0 40px 0;
  margin: 0 5px 0 5px;
}

button {
  padding: 5px 0 5px 0;
  margin: 0 5px 5px 5px;
}

.footerBar {
  margin: 0;
  background-color: seagreen;
  color: white;
  font-size: 30px;
}

#footLink {
  text-decoration: none;
  color: white;
}