html, body {
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to top,#F0F2F0, #000C40);
}

.login-wrapper {
    height: 550px;
    width: 350px;
    border-radius: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    background-color: whitesmoke;
}

.submit-wrapper {
    padding: 5px 0 0 0;
}
