html, body {
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to top,#F0F2F0, #000C40);
}

.login-wrapper {
    height: 550px;
    width: 350px;
    margin-top: 4rem;
    border-radius: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    background-color: whitesmoke;
}

.login {
    margin-top: 50px;
}

.loginDetails {
    font-size: 15px;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    line-height: 3em;
}

#username, #password{
    font-size: 19px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid black;
}

.submit-wrapper {
    padding: 5px 0 0 0;
}
